<launch>

  <include file="$(find pr2_machine)/$(env ROBOT).machine" />  
  <node machine="c2" pkg="ik_constrained_planner" type="motion_planner" name="ompl_planning" respawn="false" output="screen">
    <remap from="robot_description" to="robot_description" />  
    <remap from="collision_map" to="collision_map_occ" />
    <remap from="collision_map_update" to="collision_map_occ_update" />
    
    <!-- planner configs -->
    <rosparam command="load" file="$(find ik_constrained_planner)/config/ik_constrained_planner.yaml" />

    <param name="state_delay" type="double" value="0.01" />
    <param name="pointcloud_padd" type="double" value="0.00" />
    
    <param name="refresh_interval_collision_map" type="double" value="5.0" />
    <param name="refresh_interval_kinematic_state" type="double" value="1.0" />
    <param name="bounding_planes" type="string" value="0 0 1 -0.01" />
    <param name="verbose_collisions" type="bool" value="false" />

    <rosparam command="load" file="$(find pr2_arm_navigation_config)/config/robot_padding.yaml" />			
  </node>
  
</launch>

