<launch>

  <include file="$(find pr2_machine)/$(env ROBOT).machine" /> 
 
  <!-- send additional description parameters -->
  <include file="$(find collision_proximity)/launch/pr2_planning_environment.launch" />

  <node pkg="collision_proximity" type="collision_proximity_test" output="screen" name="collision_proximity_test">
     <remap from="collision_map" to="collision_map_occ" />
  </node>

</launch>
