
<launch> 
	<!-- send parameters for collision checking for PR2; this includes parameters for the self filter -->
	<rosparam command="load" ns="robot_description_collision" file="$(find collision_proximity)/config/collision_checks_both_arms.yaml" />

	<!-- send parameters for multidof -->
	<rosparam command="load" ns="robot_description_planning" file="$(find pr2_arm_navigation_config)/config/multi_dof_joints.yaml" />

	<!-- send parameters needed for motion planning -->
	<rosparam command="load" ns="robot_description_planning" file="$(find collision_proximity)/config/planning_groups.yaml" />

</launch>
