<launch>
<!--
  <include file="$(find pr2_defs)/launch/upload_prg.launch" />  
-->
<!--	   
  <node name="collision_map_buffer" pkg="collision_map"
    type="collision_map_buffer_node" output="screen">
    <param name="cloud_source/zero/name" type="string" value="/full_cloud_filtered" />
    <param name="cloud_source/one/name" type="string" value="/narrow_sterex/points" />
    <param name="cloud_source/zero/frame_subsample" type="int" value="1" />
    <param name="cloud_source/zero/point_subsample" type="int" value="1" />
    <param name="cloud_source/one/frame_subsample" type="int" value="4" />
    <param name="cloud_source/one/point_subsample" type="int" value="4" />
    <param name="window_time" type="double" value="0.0" />
    <param name="leaf_width_x" type="double" value=".02"/>
    <param name="leaf_width_y" type="double" value=".02"/>
    <param name="leaf_width_z" type="double" value=".02"/>
    <param name="robot_max_x" type="double" value="1.5" />
    <param name="robot_max_y" type="double" value="1.5" />
    <param name="robot_max_z" type="double" value="1.5" />
  </node>
-->
    <node pkg="collision_map" type="collision_map_self_occ_node" name="collision_map_self_occ_node" respawn="true" output="screen">
    
    <remap from="robot_description" to="robot_description" />
    
    <param name="cloud_source/zero/name" type="string" value="/full_cloud_filtered" />
    <param name="cloud_source/zero/frame_subsample" type="int" value="1" />
    <param name="cloud_source/zero/point_subsample" type="int" value="1" />
    <param name="cloud_source/zero/sensor_frame" type="string" value="laser_tilt_mount_link" />
    <param name="cloud_source/one/name" type="string" value="/full_stereo_cloud_self" />
    <param name="cloud_source/one/frame_subsample" type="int" value="1" />
    <param name="cloud_source/one/point_subsample" type="int" value="1" />
    <param name="cloud_source/one/sensor_frame" type="string" value="narrow_stereo_optical_frame" />
    
    <remap from="cloud_incremental_in" to="tilt_scan_cloud_filteredx" />
    <param name="publish_occlusion" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="base_link" />
    <param name="robot_frame" type="string" value="base_link" />

    <param name="origin_x" type="double" value="1.1" />
    <param name="origin_y" type="double" value="0.0" />
    <param name="origin_z" type="double" value="0.0" />
    
    <param name="dimension_x" type="double" value="1.0" />
    <param name="dimension_y" type="double" value="1.5" />
    <param name="dimension_z" type="double" value="2.0" />

    <param name="resolution" type="double" value="0.02" />

    <param name="self_see_padd" type="double" value="0.10" />
    
    <param name="self_see_scale" type="double" value="1.0" />

    <param name="self_see_links" type="string" value="l_upper_arm_link
						      l_upper_arm_roll_link
						      l_elbow_flex_link
						      l_forearm_link
						      l_forearm_roll_link
						      l_wrist_flex_link
						      l_wrist_roll_link
						      l_gripper_l_finger_link
						      l_gripper_l_finger_tip_link
						      l_gripper_r_finger_link
						      l_gripper_r_finger_tip_link
						      l_shoulder_pan_link
						      l_shoulder_lift_link
						      r_upper_arm_link
						      r_upper_arm_roll_link
						      r_elbow_flex_link
						      r_forearm_link
						      r_forearm_roll_link
						      r_wrist_flex_link
						      r_wrist_roll_link
						      r_gripper_l_finger_link
						      r_gripper_l_finger_tip_link
						      r_gripper_r_finger_link
						      r_gripper_r_finger_tip_link
						      r_shoulder_pan_link
						      r_shoulder_lift_link
						      base_laser
						      base_link" />
  </node>
</launch>
